/* Reset CSS básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
   
  }
  
  html {
    font-size: 16px;
    width: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    width: 100%;
  }
  
  /* Elementos HTML padrão */
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  
  p {
    margin-bottom: 1rem;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  ul{
    list-style: none;
  }

  button{
    border: none;
    color: black;
    cursor: pointer;
  }
