@media (max-width: 1010px) {
    .container-sobre{
        flex-wrap: wrap;
        width: 100%;
    }
    .card-sobre{
        border-radius: 0 0 8px 8px;
        max-width: 640px;
        width: 95%;
        height: fit-content;
    }
    .imagem-cabo{
        max-width: 640px;
        width: 95%;
        object-fit: cover;
        border-radius: 8px 8px 0 0; 
    }
    .container-form{
        flex-wrap: wrap-reverse;
    }

}
@media (max-width: 800px) {
    .wrapper-slogan{
        bottom: 25%;
        padding: 16px;
       background-color:#19184257 ;
       min-height: 90vh;
    }
}


@media (max-width:1024px){

    .container-contato{
        flex-wrap: wrap;
    }
}

@media (max-width:850px){
    .infos-footer{
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-around;
    }

    .socials-media{
        flex-direction: row;
        text-align: start;
        margin-top: 16px;
        margin-left: 0px;
    }

    .form-1-field{
        flex-wrap: wrap;
        width: 80%;
    }

    .form-field textarea{
        width: 280px;
    }
}

@media (max-width: 760px){
   
    .container-contact{
        flex-wrap: wrap;
    }

    .text-contact{
        padding: 30px;
        max-width: 570px;
        width: 100%;
    }

    .section-footer{
        align-items: flex-start;
    }

    .infos-footer{
        flex-direction: column;
        margin-left: 32px;
        align-items: flex-start;

    }
   
    .contact-footer{
        margin-top: 16px;
    }

    .cnpj{
        margin-left: 32px;
    }

    .logo-footer{
        margin-top: 0px;
    }

   .text-contact{
    margin: 0;
   }
 
}